src/main/resources/META-INF/etosrpc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.eastelsoft.com/schema/etosrpc"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.eastelsoft.com/schema/etosrpc"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:element name="service">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="interfaceName" type="xsd:string"
						use="required" />
					<xsd:attribute name="ref" type="xsd:string" use="required" />
					<xsd:attribute name="registry" type="xsd:string" />
					<xsd:attribute name="server" type="xsd:string" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="reference">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="interfaceName" type="xsd:string"
						use="required" />
					<xsd:attribute name="ipAddr" type="xsd:string" />
					<xsd:attribute name="serializeType" type="xsd:string" use="required" />
					<!--priority hight then ipAddr if registry value set -->
					<xsd:attribute name="registry" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>